body {
    background-image: url("../../../img/Paws final 4.jpg");
    
}   

/*  headings  */
h1 {
    color: #f5f7f3;
    font-family: 'Gloria Hallelujah', cursive;
    
}

h2 {
font-family: 'Gloria Hallelujah', cursive; 
color: #f5f7f3;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;  
  color: #a43f61;
}

/* Paragraphs */

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}