/* _____    _____    _____ 
  / ____|  / ____|  / ____|
 | |      | (___   | (___  
 | |       \___ \   \___ \ 
 | |____   ____) |  ____) |
  \_____| |_____/  |_____/ 
 */
                           


body {
    background-image: url("../img/pawsfinal4.jpg");
    font-weight: 200;
    overflow-x: hidden;
    
}   
.navbar-light .navbar-brand {
    color: #f5f7f3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 32px;
    
}

/*  headings  */
h1  {
    color: #f5f7f3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 32px;
    text-align: center;
}

.navbar-light .navbar-brand:hover {
    color: #eceeea;
}

h2 {
font-family: 'Gloria Hallelujah', cursive; 
color: #f5f7f3;
font-size: 20px;
font-weight: 200;
text-align: center;
}

h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;  
  color: #E60088;
  font-weight: 200;
}

.bigText {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.popover-header {
    background-color: #f5d3e1;
}
/* Paragraphs */

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #E60088;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    height: 440px;
    border-radius: 25px;
    width: 90%;
}
.about-link {
    text-decoration: none;
}
button {
    height: 38px;
}

.btn {
    font-size: inherit;
}
 
.numberBoxRow{

  min-height: 55%; 
  align-items: center;
}

#catBasket {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: +2;
}

.kittenDiv {
    z-index: 1;
    position: relative;
    left: 8%;
    bottom: 40%;
    width: 88%;
}
#standingKitten #standingLeopard #standingTiger #standingLion{
    z-index: 1;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

.fas {
    color: #f5f7f3;
}

.fa-github-alt .fa-linkedin{
color: #f5f7f3;
font-size: 20px;
}
.fab {
    padding: 5px 10px 10px 10px;
}
.fab:hover {
    color: #e60088;
}
.fas:hover{
    color: #e60088;
}

.navbar {
    justify-items: unset;
    padding-left: 0rem;
}
#header-nav {
    width: 105%;
    text-indent: 10px;
}
#footerNav {
    color: #f5f7f3;
    font-family: 'Gloria Hallelujah', cursive;
    text-indent: 10px;
    height: 40px;
}

footer x-small {
    vertical-align: text-top;
}

a {
    color: inherit;
}
.about-link:hover {
    text-decoration: none;
    color: #eceeea;
}
ul{
    display: flex;
}
li {
    list-style: none;
}
.about-header {
    margin-left: 50px;
    font-size: 3rem;
}
.card {
    position: initial;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-color: transparent;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.5rem;
    background-color: white;
}
.card-image {
    text-align: center;
    padding-bottom: 15px;
}
.card-title {
    text-align: center;
}
.rounded-pill {
    border-radius: 50rem;
}
.mb-3, .my-3 {
margin: 25px;
}

.card-text a {
    color: #93d6d2;
    font-size: 12px;
    text-decoration: none;
}    
.card-text a:hover{
    color: #83b6b2;
}                                                                                                           

p .card-text {
    font-weight: inherit;
}

 /*
  __  __   ______   _____    _____                 ____    _    _   ______   _____    _____   ______    _____ 
 |  \/  | |  ____| |  __ \  |_   _|     /\        / __ \  | |  | | |  ____| |  __ \  |_   _| |  ____|  / ____|
 | \  / | | |__    | |  | |   | |      /  \      | |  | | | |  | | | |__    | |__) |   | |   | |__    | (___  
 | |\/| | |  __|   | |  | |   | |     / /\ \     | |  | | | |  | | |  __|   |  _  /    | |   |  __|    \___ \ 
 | |  | | | |____  | |__| |  _| |_   / ____ \    | |__| | | |__| | | |____  | | \ \   _| |_  | |____   ____) |
 |_|  |_| |______| |_____/  |_____| /_/    \_\    \___\_\  \____/  |______| |_|  \_\ |_____| |______| |_____/ 
*/ 



    /*.......... Small and above.......................*/

@media (min-width: 576px) {

    .navbar-light .navbar-brand {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .bigText {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    /* Tall Devices */
     @media (min-height: 1024px){
          .container {
                background: rgba(255, 255, 255, 0.7);
                padding: 10px;
                height: 750px;
                border-radius: 25px;
            }

     }
}
    /*...........Medium and above.......................*/ 
@media (min-width: 768px) {

    .navbar-light .navbar-brand {
        font-size: 36px;
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 28px;
        text-align: center;
    }
    .about-header {
        font-size: 4rem;
    }
    .bigText {
        font-size: 5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .card-body {
        margin-left: 65px;
    }
    .card-image {
        text-align: left;
        padding-bottom: 0px;
    }
    #header-nav {
        width: 100%;
    }
    /* Tall Devices */
    @media (min-height: 1024px){
          .container {
                background: rgba(255, 255, 255, 0.7);
                padding: 10px;
                height: 750px;
                border-radius: 25px;
            }

    }
}

    /* Large and above */ 
@media (min-width: 992px) {

    .navbar-light .navbar-brand {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .container {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    height: 600px;
    border-radius: 25px;
    }
    /* Tall Devices */
    @media (min-height: 1024px) {
        .container {
            height: 900px;
        }
    }
}


    /* Extra Large */
@media (min-width: 1200px) {

    .navbar-light .navbar-brand {
        font-size: 44px;
    }   
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    .container {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    height: 680px;
    border-radius: 25px;
    }
    /* Tall Devices */
    @media (min-height: 1024px) {
        .container {
            height: 900px;
        }
    }
}